<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Extração de Dados PGMBOX/src/br/com/extracaoDadosPgmbox/CadastroTeste.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.extracaoDadosPgmbox.CadastroTeste"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Extração de Dados PGMBOX"/>
</launchConfiguration>
